.home{
  padding-top: 83px;
  overflow: hidden;
  width: 100%;
  position: relative;

  .top_slogan{
    text-align: center;
    border-top: solid 2px $yellow;
    display: inline-block;
    color: #000;
    position: relative;
    top: 370px;
    font-family: 'quarto', sans-serif;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: -102px;
    line-height: 70px;
    font-size: 40px;
    margin-left: -282px;
    
    i{
      color: $yellow;
    }
  }

  .nodes{
    width: (1634/2)+px;
    height: (1488/2)+px;
    position: absolute;
    left: 50%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .logo{
    width: (570/2)+px;
    height: (874/2)+px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 100px;

    @media (max-width: 745px) {
      margin-top: 70px;
    }
  }

  .social_links{
    position: absolute;
    right: 50px;
    margin-top: -62px;

    a{
      display: inline-block;
      margin-left: 10px;
    }

    img{
      width: (124/2)+px;
      height: (124/2)+px;
    }

    @media (max-width: 745px) {
      right: 50%;
      -webkit-transform: translateX(50%);
      -moz-transform: translateX(50%);
      transform: translateX(50%);
      margin-top: 160px;
    }
  }

  .yellow_section{
    margin-top: 225px;
    background-color: $yellow;

    @media (max-width: 992px) {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 310px;
    }

    .txt{
      padding-top: 169px;
      color: #fff;
      text-align: right;
      padding-bottom: 156px;
      font-size: 44px;
      line-height: 53px;
      font-family: 'quarto', sans-serif;

      @media (max-width: 992px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .title{
        font-size: 64px;
        letter-spacing: 1px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        line-height: 65px;
        text-transform: uppercase;
        color: #000;
      }

      .subtitle{
        padding-left: 20px;
        i{
          color: #000;
        }
      }
    }

    img{
      padding-top: 55px;
      position: absolute;
      width: (3074/2)+px;
      height: (1116/2)+px;

      @media (max-width: 992px) {
        position: static;
        padding-top: 0px;
        width: (3074/3)+px;
        height: (1116/3)+px;
      }
    }
  }

  .description{
    padding-top: 178px;
    padding-bottom: 196px;

    @media (max-width: 992px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .align-right{
      @media (max-width: 992px) {
        text-align: center;
        padding-bottom: 60px;
      }
    }

    .col-md-6{
      @media (max-width: 992px) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    .number{
      color: $yellow;
      font-size: 400px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      line-height: 310px;
    }
    .areas{
      color: $violet;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(-90deg);
      display: inline-block;
      transform-origin: left top 0;
      margin-right: -200px;
      position: relative;
      top: 70px;
    }
    .desc{
      padding-right: 70px;
    }
  }

  .points{
    text-align: center;

    .title{
      font-size: 36px;
      font-weight: 700;
      font-family: 'Roboto Condensed', sans-serif;
      letter-spacing: 1px;
      line-height: 42px;
      margin-top: 37px;
      margin-bottom: 37px;
      text-transform: uppercase;
      color: #000;
    }

    .txt{
      padding: 0px 30px;

      @media (max-width: 992px) {
        padding-bottom: 60px;
      }
    }

    .money_icon{
      width: (184/2)+px;
      height: (244/2)+px;
    }

    .ai_icon{
      width: (252/2)+px;
      height: (250/2)+px;
    }

    .people_icon{
      width: (214/2)+px;
      height: (242/2)+px;
    }

  }

  .slogan{
    position: relative;
    margin-top: 161px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: (76/2)+px;
    height: (714/2)+px;

    @media (max-width: 992px) {
      margin-top: 60px;
    }
  }
}